{% extends 'base.html' %}

{% block title %} Página de inicio {% endblock title %}

{% block content %}
...Nombre de la institución...<br>
...Página de inicio...<br>
<a href="{% url 'home' %}">
    Institucional<br>
</a>
<a href="{% url 'blog:home' %}">
    Noticias (Blog)<br>
</a>
<a name="" id="" class="btn btn-primary" href="{% url 'users:register' %}" role="button">Registrarse</a><br>
<a name="" id="" class="btn btn-primary" href="{% url 'users:login' %}" role="button">Login</a><br>
<a name="" id="" class="btn btn-primary" href="{% url 'users:logout' %}" role="button">Logout</a><br>
<a name="" id="" class="btn btn-primary" href="{% url 'about' %}" role="button">Contacto</a><br>
{% endblock content %}

